# Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
ENV/
*.pkl
.pytest_cache/
.lsp/
.clj-kondo/
.ruff-cache*/

# Node.js (not used but prevent accidental commits)
node_modules/
package-lock.json
*.lock

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp

# VSCode and JetBrains IDEs
.idea/

# Data outputs and logs
*.log
*.csv

# Environment variables
.env*
.env.old


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test outputs
htmlcov/
htmlcov*/
.coverage
.tox/
.nox/
.cache/
pytest_cache/
.pytest_cache/
.hypothesis/
test-results/

# Build artifacts
build/
dist/
*.egg-info/


data/logs/nuclear_alerts.json
data/logs/nuclear_alerts.log
the_alchemiser_lambda.zip
.coverage.AMAL73MXMT9QM.43536.XQIQyyjx.wgw0
.coverage.AMAL73MXMT9QM.43537.XlXgqnTx.wgw1
.coverage.AMAL73MXMT9QM.43538.XjbMqtZx.wgw2
.coverage.AMAL73MXMT9QM.43539.XPydvynx.wgw3
.coverage.AMAL73MXMT9QM.43540.XPzgqDwx.wgw4
.coverage.AMAL73MXMT9QM.43541.XjqiDLIx.wgw5
.coverage.AMAL73MXMT9QM.43549.XMhkmhPx.wgw6
.coverage.AMAL73MXMT9QM.43552.XybQMWtx.wgw7
.coverage.AMAL73MXMT9QM.43555.XyXmBJVx.wgw8
.coverage.AMAL73MXMT9QM.43558.XGJzEAZx.wgw9
.coverage.AMAL73MXMT9QM.43565.XSelTnNx.wgw10
.coverage.AMAL73MXMT9QM.43568.XvPCWJrx.wgw11
.coverage.AMAL73MXMT9QM.43571.XBLRkcXx.wgw12
.coverage.AMAL73MXMT9QM.43580.XaAMdWPx.wgw13
.coverage.AMAL73MXMT9QM.43583.XQVJFyPx.wgw14
.coverage.AMAL73MXMT9QM.43586.XIYpJuAx.wgw15
.coverage.AMAL73MXMT9QM.43590.XVSiLlPx.wgw16
.coverage.AMAL73MXMT9QM.43594.XXZNhXZx.wgw17
.coverage.AMAL73MXMT9QM.43597.XVMVNkIx.wgw18
.coverage.AMAL73MXMT9QM.43600.XZUcRubx.wgw19
.coverage.AMAL73MXMT9QM.43613.XrVVEKYx.wgw21
.coverage.AMAL73MXMT9QM.43622.XmXLMTTx.wgw22
.coverage.AMAL73MXMT9QM.43625.XowMKvTx.wgw23
.coverage.AMAL73MXMT9QM.43630.XqzqFIUx.wgw24
.coverage.AMAL73MXMT9QM.43633.XVSZVAgx.wgw25
.coverage.AMAL73MXMT9QM.43636.XZwqPSgx.wgw26
.coverage.AMAL73MXMT9QM.43639.XhPCIzWx.wgw27
.coverage.AMAL73MXMT9QM.43648.XxsVCSix.wgw28
.coverage.AMAL73MXMT9QM.43651.XjDmFdAx.wgw29
.hypothesis/unicode_data/15.1.0/codec-utf-8.json.gz
