# Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
ENV/
*.pkl

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp

# VSCode and JetBrains IDEs
.vscode/
.idea/

# Data outputs and logs
*.log
*.csv

# Ignore backtest results and logs
/data/backtest_results/
data/backtest_results/
data/logs/
data/*.log
data/*.json
data/*.csv

# Environment variables
.env
.env.old


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test outputs
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/
test-results/

# Build artifacts
build/
dist/
*.egg-info/


data/logs/nuclear_alerts.json
data/logs/nuclear_alerts.log
tests/test_backtest.py
the_alchemiser_lambda.zip
